view,
input,
textarea {
	box-sizing: border-box;
}

view,
input,
textarea,text,button {
	font-size: 32rpx;
}

.fc-tabbar .u-tabbar__content__item__button {
	position: static !important;
	transform: translate(0) !important;
}

.fc-tabbar .u-tabbar__content__item__button image {
	width: 48rpx;
	height: 48rpx;
	margin-bottom: 1px;
}

.fc-tabbar .u-tabbar__content__item__text {
	position: static !important;
	transform: translate(0) !important;
}

.fc-tabbar .u-tabbar__content__item__text text {
	font-size: 24rpx;
}


.text_ellipsis {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
}

.text_ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.text_ellipsis3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.image-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}